body{
  /*font-family:'ProximaNovaReg', sans-serif;*/
  font-size:17px;
  line-height:1.5em;
  margin:0;
  padding:0;
}

.container{
  max-width: 1140px;
  margin:auto;
}

/* HEADER */
#main-header .row{
  height:80px;
}

#main-header{
  background-color: #3c58e7;
  /*border-bottom:1px solid black;*/
  z-index: 1;
}

#main-header button{
  background:#3d50ee;
  color:#fff;
  padding:10px 20px;
  border:0;
  box-shadow: 0 0 22px rgba(0,0,0,.2);
  border-radius: 50px;
  font-family: 'ProximaNovaBold' ;
  font-size:  14px;
}

#navbar li{
  display:inline;
  padding-right:40px;
  list-style:none;
}

#navbar a{
  text-decoration:none;
  color:white;
  font-family: 'ProximaNovaReg'; 
  font-size: 14px;
}

/* #navbar li.current a, #navbar a:hover{
  border-bottom: 2px solid white;
  padding-bottom:3px;
} */


#showcase .row{
  height:670px;
}
  /* background: #b2b2b2 url("alert.png") 20px 10px no-repeat; */
#showcase{
  /*background:url('../images/showcase.jpg') no-repeat center center;*/
  background:  linear-gradient(to right, #362fc5 , #3761e9);
  color:white; 
  box-shadow: 0px 7px 22px -8px rgba(0,0,0,.2)  inset;
}

h1 {
  font-family: 'ProximaNovaReg';
  font-size: 40px;
  margin-top: 160px;
}

#showcase p {
  font-family: 'ProximaNovaReg';
  font-size: 18px;
  margin-top: 40px;
  line-height: 26px;
}

#showcase .button img {
  margin-left: 20px;
  margin-top: 7px; 
}

#map{
  height: 600px;
  background-color: wheat;
}

#advantege .container {
    padding-top: 110px;
    padding-bottom: 79px;
}

#expiriance .container{
  padding-bottom: 167px;  
}

h3 {
  font-family: 'BitterRegular';
  font-size: 24px;
  margin-top: 100px;
  margin-bottom: 100px;
  line-height: 32px;
}

h4 {
  font-family: 'BitterRegular';
  font-size: 22px;
  margin-bottom: 30px;
}

h5 {
  font-family: 'BitterRegular';
  font-size: 20px;
  margin-bottom: 17px;
  margin-top: 76px;
  color: white;
  line-height: 30px;
}

p {
  font-family: 'ProximaNovaLight';
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 30px;
}

 span {
  font-family: 'ProximaNovaBold';
}

#problems {
  background-color: #e8f5fa;
}

.problems-nav {
  margin-top:  -238px;
}

.problems-nav > li > button {
    border-right: solid 5px white;
    font-family: 'BitterBold';
    font-size: 16px;
    line-height: 48px;
    background-color: transparent;
    color: #589fff;
    outline: none;
    border: none;
    padding: 0px 34px;
}

.problems-nav > li > button:focus, 
.problems-nav > li > button:active{
  background: #3d50ee;
  color: white;
  outline: none;
}

.space {
    border-left: solid 5px white;
    height: 545px;
}

#prob {
  margin-top: 80px;
  margin-left: -20px;
  height: 685px;
}

#prob img{
  margin: 0px 30px 30px 0px;
}

.left {
  border-left: 2px solid #589fff;
  padding-left: 30px;
}

.right {
  border-right: 2px solid #589fff;
  padding-right: 35px;
}

#exp img {
  transform: scale(1, -1);
}

#subscribe {
  height: 420px;
  background: linear-gradient(140deg, #362fc5, #3668ed);
}

#subscribe img {
  margin-right: 560px;
}

.form {
  text-align: center;
  background-color: #3a42d0; 
  height: 420px;
}


form {
    margin: 0 auto;
    background-clip: padding-box;
    overflow: hidden; 
    /* text-align: center; */
    padding: 0px 100px 10px 100px; 
}

/* Поля ввода */
input {
    width: 100%;
    height: 46px;
    display: inline-block;
    margin-top: 10px;
    border: none;
    border-radius: 3px;
    background-clip: padding-box; 
    display:block;
    font-family: 'BitterRegular';
    font-size:16px;   
}
input[type=submit] {
    cursor:pointer;
}
input.name {
    background: white;
    padding-left:20px;
    box-shadow: 0 0 7px rgba(0,0,0,.37) inset;
    font-size:16px;
}
input.email {
    background: white;
    padding-left:20px;
    box-shadow: 0 0 7px rgba(0,0,0,.37) inset;
    font-size:16px;
}

::-webkit-input-placeholder {color:#b0b0b0;}
::-moz-placeholder          {color:#b0b0b0;}/* Firefox 19+ */
:-moz-placeholder           {color:#b0b0b0;}/* Firefox 18- */
:-ms-input-placeholder      {color:#b0b0b0;}

.btn-big {
  height: 50px;
  margin-top: 30px;
}

.btn-small {
  height: 40px;
}

.btn-dark {
  height: 30px;
  background-color: #272eba;
  border-radius: 50px;
  color:#fff;
  border-radius: 50px;
  border:0;
  padding-left: 18px;
  padding-bottom: 13px;
  margin-top: 34px;
}



.btn-light {
    
    padding-left: 50px;
    padding-right: 50px;
    border:0;
    font-family: 'ProximaNovaBold';
    box-shadow: 0 0 7px rgba(0,0,0,.37);
    background-color: #3d50ee;
    letter-spacing: 0.04em;
    border-radius: 50px;
    font-size: 13px; 
    color:#fff;
}
.btn-light:hover {
    background: pink;
    color: #fff;
 }
.btn-light:active {
    margin-top:1px;
    background: #3d50ee; 
    color: #fff;
    outline: none;
}

#contacts {
  height: 360px;
  padding-top: 90px;
  /* background-color: #3646d5; */
   background: linear-gradient(140deg, #362fc5, #3668ed);
}

#contacts a {
  font-family: 'ProximaNovaLight';
  color:#fff;
  /* text-decoration: none; */
  /* border-bottom:1px solid; */
  letter-spacing: 0.02em;
}


#contacts h {
  font-family: 'ProximaNovaBold';
  color:#fff;
  font-size: 18px;
  inline-size: 24px;
  margin-bottom: 25px !important; 
  letter-spacing: 0.02em;
}

.contact {
  text-align: left;
}

.footer-list{
  margin-top: 25px;
}

.footer-list li {
  margin-bottom: 15px;
}

#contacts h1 {
  font-family: 'ProximaNovaBold';
  color:#fff;
  font-size: 18px;
  inline-size: 24px;
  margin-bottom: 12px !important; 
  letter-spacing: 0.02em;
}

#main-footer {
  background-color: #3649d6;
  height: 70px;
  box-shadow: 0 0 22px rgba(0,0,0,.2);
}

#main-footer  ul {
   font: 14px Verdana,sans-serif;
   margin-top: 36px;
   color: #7e8bee;
}

#main-footer ul li {
    display : inline-block ;
    margin-right: 18px;
    /* эмуляция inline-block для IE6-7*/
    /* display : inline; */
    /* zoom : 1; */
}